
 *{   margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 8px;

}

.box-size{
    width: 400px;
    height: 50px;
    border-radius: 15px;
}

.items{
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;

}